.form__button {
  width: 100%;
  border: none;
  padding: 0;
  font-size: 18px;
  padding: 15px 85px;
  border-radius: 2px;
  margin-bottom: 15px;
  transition: 0.1s;
  cursor: pointer;
  margin-top: 215px;
}

.form__button:hover {
  opacity: 0.8;
}
