.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.1;
  max-width: 336px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__subtitle {
    justify-self: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;
    grid-column: span 2;
  }
}
