.popup__save-btn {
  border: 1px solid transparent;
  width: 100%;
  font-size: 18px;
  line-height: 1.1;
  padding: 14px 0 18px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 570px) {
  .popup__save-btn {
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 14px;
  }
}
