/* Подключение сторонних файлов */
@import url(./vender/normalize.css);
@import url(./vender/font.css);
@import url(./vender/root/root.css);

/* Глобальные стили */
@import url(./blocks/body/body.css);
@import url(./blocks/main/main.css);

/* Header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

/* profile */
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);

/* elements */
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__img/elements__img.css);
@import url(./blocks/elements/__info/elements__info.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__wrapper/elements__wrapper.css);
@import url(./blocks/elements/__counter/elements__counter.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);
@import url(./blocks/elements/__button-delete/elements__button-delete.css);

/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copy/footer__copy.css);

/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__save-btn/popup__save-btn.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__save-btn/_disabled/popup__save-btn_disabled.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_delete.css);
@import url(./blocks/popup/__input/_type/popup__input_type_avatar.css);

/* Popup-images */
@import url(./blocks/popup-images/popup-images.css);
@import url(./blocks/popup-images/__figure/popup-images__figure.css);
@import url(./blocks/popup-images/__img/popup-images__img.css);
@import url(./blocks/popup-images/__figcaption/popup-images__figcaption.css);
@import url(./blocks/popup-images/__container/popup-images__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
